<p id="notice"><%= notice %></p>


<p>
  <strong>Address:</strong>
  <%= @node.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @node.description %>
</p>

<p>
  <strong>Design:</strong>
  <%= @node.design %>
</p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<h3>Battery Voltage</h3>
<div class="nodeGraph" id="node-graph" data-nodeAddress="<%=@node.address%>" style="height:300px; width:500px"></div>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
