<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @dataset.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @dataset.end_time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dataset.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dataset.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @dataset.author %>
</p>

<div class="nodeGraph" id="node-graph"
        data-start_time="<%= @dataset.start_time %>"
        data-end_time="<%= @dataset.end_time %>"
        data-nodeAddress="<%= @dataset.address %>" style="height:300px; width:500px"></div>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
