<!DOCTYPE html>
<html>
<head>
  <title>WdacManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
</head>
<body data-no-turbolink>
    <p>
    <span> <strong> Links: </strong></span>
    <span> <%= link_to('Home', controller: 'welcome') %> </span>
    <span> <%= link_to('Data Nodes', controller: 'nodes') %> </span>
    </p>
    <hr />
<%= yield %>

</body>
</html>
